@model Homgmen.Areas.Setting.Models.Citytel

@{
    ViewBag.Title = "删除站点";
    Layout = "~/Views/Shared/_Side.cshtml";
}

@section SideMenu
{
    @Html.Partial("../Shared/_SettingSideMenu");
}

<div class="page-header">
    <div class="page-title">
        <h1>删除站点    <small>您确认要删除这个站点吗?</small></h1>
    </div>
</div>

<div class="shadowbox">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.城市)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.城市)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.编号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.编号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.电话)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.电话)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.保证金)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.保证金)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回到站点列表", "Index")
        </div>
    }
</div>
