@model Homgmen.Models.Idde

@{
    ViewBag.Title = "新建iPad业务终端";
    Layout = "~/Views/Shared/_Side.cshtml";
}

@section SideMenu
{
    @Html.Partial("../Shared/_SettingSideMenu");
}

<div class="page-header">
    <div class="page-title">
        <h2>新建iPad终端    <small>@Html.ActionLink("返回iPad终端列表", "Index")</small></h2>
    </div>
</div>

<div class="shadowbox">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.设备号, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.设备号, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.设备号, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.业务员, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.业务员, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.业务员, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.收货网点, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.收货网点, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.收货网点, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.始发城市, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.始发城市, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.始发城市, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.责任人, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.责任人, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.责任人, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="创建" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#SettingSideMenu_iPad').addClass('active');
    </script>
}
