<li id="SettingSideMenu_Index">
    @Html.ActionLink("系统设置看板", "Index", "Setting")
</li>
<li id="SettingSideMenu_iPad">
    @Html.ActionLink("iPad终端管理", "iPad", "Setting")
</li>
<li id="SettingSideMenu_Site">
    @Html.ActionLink("站点管理", "Site", "Setting")
</li>
<!--
<li>
    @Html.ActionLink("运单操作", "Search", "Site")
</li>
<li>
    @Html.ActionLink("站点数据报表", "SiteReport", "Site")
</li>
-->