@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/SideLayout.css" />
}
@RenderSection("css", required: false)
<nav class="col-md-2 pull-left">
    <ul class="nav shadowbox">
        <li class="active">
            @Html.ActionLink("站点看板", "Index", "Site")
        </li>
        <li>
            @Html.ActionLink("上报(大红门集团数据)", "Upload", "Site")
        </li>
        <li>
            @Html.ActionLink("上报数据报表", "Report", "Site")
        </li>
        <li>
            @Html.ActionLink("运单操作", "Search", "Site")
        </li>
        <li>
            @Html.ActionLink("站点数据报表", "SiteReport", "Site")
        </li>
    </ul>
</nav>
<div class="col-md-10">
    <div class="container-fluid shadowbox">
        @RenderBody()
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)