<li id="SideMenu_Index">
    @Html.ActionLink("站点看板", "Index", "Site")
</li>
<li id="SideMenu_Upload">
    @Html.ActionLink("上报(大红门集团数据)", "Upload", "Site")
</li>
<li>
    @Html.ActionLink("上报数据报表", "Report", "Site")
</li>
<li>
    @Html.ActionLink("运单操作", "Search", "Site")
</li>
<li>
    @Html.ActionLink("站点数据报表", "SiteReport", "Site")
</li>
