@{
    Layout = "~/Views/Shared/_Side.cshtml";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/Site/Index.css" />
}

@section SideMenu
{
    @Html.Partial("../Shared/_SettingSideMenu");
}

<div class="page-header">
    <div class="page-title">
        <h1>系统设置首页 <small>系统全局设置</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="displaybox shadowbox clearfix">
            <div>
                <div class="pull-left">
                    <h3 class="color-1">
                        @ViewBag.iPadCount
                        <small>台</small>
                    </h3>
                    <small>iPad终端数量</small>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("Index","iPad")" title="显示iPad终端列表" class="btn btn-default" >
                        <span class="glyphicon glyphicon-apple"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="displaybox shadowbox clearfix">
            <div>
                <div class="pull-left">
                    <h3 class="color-1">
                        @ViewBag.SiteCount
                        <small>个</small>
                    </h3>
                    <small>站点数量</small>
                </div>
                <div class="pull-right">
                    <a class="btn btn-default" href="@Url.Action("Index","Sites")" title="显示站点列表">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#SettingSideMenu_Index').addClass('active');
    </script>
}




